<mat-toolbar class="toolbar">
  <div class="toolbar-left">
    <a mat-icon-button class="logo">
      BRINKEDIN
    </a>
  </div>

  <div class="toolbar-middle">
    <button mat-icon-button>
      <a routerLink="/dashboard-recrutador">
        <mat-icon>home</mat-icon>
      </a>
      <span>Início</span>
    </button>

    <button mat-icon-button>
      <a routerLink="/dashboard-recrutador">
        <mat-icon>work</mat-icon>
      </a>
      <span>Minhas Vagas</span>
    </button>

    <button mat-icon-button>
      <a routerLink="/management-jobs">
        <mat-icon>assignment</mat-icon>
      </a>
      <span>Criar Vaga</span>
    </button>
  </div>
</mat-toolbar>
