.navibar {
  background-color: #ffffff;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  top: 0;
  width: 100%;

}

.navbar-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.redirecting {
  color: #000000;
}



#home img {
  height: 44px;
}

#home img:hover {
  height: 48px;
}

#jobs img {
  height: 44px;
  width: auto;
}

#jobs img:hover {
  height: 48px;
  width: auto;
}
