<div class="confirm" *ngIf="showAlert == true">
  <app-box-confirm
    [message]="message"
    [show]="showAlert"
    (confirm)="performLogout()"
    (cancel)="closeAlert()">
  </app-box-confirm>
</div>

<mat-toolbar class="toolbar">
  <div class="toolbar-left">
    <a mat-icon-button class="logo">BRINKEDIN</a>
  </div>

  <div class="toolbar-middle">
    <button mat-icon-button class="button-class">
      <a routerLink="/dashboard-recrutador">
        <mat-icon>home</mat-icon>
      </a>
      <span>Início</span>
    </button>

    <button mat-icon-button>
      <a routerLink="/dashboard-recrutador">
        <mat-icon>work</mat-icon>
      </a>
      <span>Minhas Vagas</span>
    </button>

    <button mat-icon-button>
      <a routerLink="/management-jobs">
        <mat-icon>assignment</mat-icon>
      </a>
      <span>Criar Vaga</span>
    </button>

    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </div>

  <div class="toolbar-right">
    <button mat-icon-button class="profile-container">
      <mat-icon>person</mat-icon>
      <span>{{perfilName}}</span>
    </button>
  </div>
</mat-toolbar>
