<app-menu></app-menu>
<div *ngIf="isLoading">...</div>
<div *ngIf="!isLoading && vagas.length === 0">Nenhuma vaga encontrada.</div>
<div *ngIf="!isLoading && vagas.length > 0">
  <div class="alert" *ngIf="editMode == true">
    <app-alerts
    [message]="message"
    [alertStyles]="{
      'background-color': color, 'color' : fontColor
    }"
    >

    </app-alerts>
  </div>
  <mat-card *ngFor="let vaga of vagas" class="postagem-card">
    <mat-card-header>
      <mat-card-title>
        <span *ngIf="selectedVaga === vaga; else normalView">
          <input [(ngModel)]="tempVaga.titulo" placeholder="Título" />

        </span>
        <ng-template #normalView>{{ vaga.titulo }}</ng-template>
      </mat-card-title>
      <mat-card-subtitle>
        Status:
        <span *ngIf="selectedVaga === vaga; else statusView">
          <select [(ngModel)]="tempVaga.status" >
            <option value="Aberta">Aberta</option>
            <option value="Fechada">Fechada</option>
          </select>
        </span>
        <ng-template #statusView>{{ vaga.status }}</ng-template>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="selectedVaga === vaga; else descView">
        <textarea [(ngModel)]="tempVaga.descricao" placeholder="Descrição"></textarea>
      </p>
      <ng-template #descView>{{ vaga.descricao }}</ng-template>

      <mat-divider></mat-divider>

      <h2>Requisitos</h2>
      <p *ngIf="selectedVaga?.id !== vaga.id">{{ vaga.requisitos }}</p> <textarea *ngIf="selectedVaga?.id === vaga.id" [(ngModel)]="tempVaga.requisitos" placeholder="Requisitos"></textarea>
      <p>Salário:
        <span *ngIf="selectedVaga === vaga; else salarioView">
          <input [(ngModel)]="tempVaga.salario" placeholder="Salário" />
        </span>
        <ng-template #salarioView>R{{ vaga.salario | currency}}</ng-template>
      </p>


      <p>Localização:
        <span *ngIf="selectedVaga === vaga; else localizacaoView">
          <input [(ngModel)]="tempVaga.localizacao" placeholder="Localização" />
        </span>
        <ng-template #localizacaoView>{{ vaga.localizacao }}</ng-template>
      </p>

      <div class="button-group">
        <button id="save-button" *ngIf="selectedVaga === vaga; else editButton" (click)="updateVaga()">
          <img src="/confirmation.png" alt="confirm"/>
        </button>
        <ng-template #editButton>
          <button title="Editar vaga" id="edit-button" (click)="editVaga(vaga)" [ngStyle]="">
            <img src="/edit.png" alt="Edit" />
          </button>
        </ng-template>


        <button title="Cancelar" id="cancel-edit" *ngIf="selectedVaga === vaga; else deleteButton"  (click)="cancelEdit()">
         <img src="/cancel.png" alt="cancel"/>
        </button>
        <ng-template #deleteButton>
          <button title="Apagar Vaga" id="delete-button" (click)="deleteVaga(vaga.id)">
            <img src="/delete.png" alt="Delete" />
          </button>
        </ng-template>


        <button title="Visualizar Candidatos na vaga" *ngIf="selectedVaga !== vaga; else editMode" id="view-button">
          <a routerLink="/candidatos-em-vagas/{{vaga.id}}">
             <img src="/view.png" alt="View" />
          </a>
        </button>
        <ng-template #editMode>

        </ng-template>
      </div>
      <mat-divider></mat-divider>
      <mat-card-footer class="footer">
        <h1>{{vaga.empresa.nome | uppercase}}</h1>

        </mat-card-footer>
    </mat-card-content>
  </mat-card>

</div>
