<app-menu></app-menu>
<div class="void">
  dasdad
</div>
<div class="void2">
  asdasdasdsdsad<br>
  asdadsds
</div>
<div *ngIf="isLoading">...</div>
<div *ngIf="!isLoading && vagas.length === 0">Nenhuma vaga encontrada.</div>
<div *ngIf="!isLoading && vagas.length > 0">
  <mat-card *ngFor="let vaga of vagas" class="postagem-card">
    <mat-card-header>
      <mat-card-title>{{ vaga.titulo }}</mat-card-title>
      <mat-card-subtitle>Status: {{ vaga.status }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ vaga.descricao }}</p>
      <mat-divider></mat-divider>
      <h2>Requisitos</h2>
      <p>{{ vaga.requisitos }}</p>
      <p>Salário: R${{ vaga.salario }}</p>
      <div class="button-group">
        <button id="edit-button" mat-raised-button color="primary" (click)="editVaga(vaga)">
          <img src="/edit.png" alt="Edit" />
          Editar
        </button>
        <button id="delete-button" mat-raised-button color="primary" (click)="deleteVaga(vaga.id)">
          <img src="/delete.png" alt="Delete" />
          Excluir
        </button>
        <button id="view-button">
          <img src="/view.png" alt="View" />
          Ver Candidatos
        </button>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <p>Localização: {{ vaga.localizacao }}</p>
    </mat-card-footer>
  </mat-card>
</div>

