@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
   font-family: "Roboto Mono", monospace;
}
.postagem-card {
  max-width: 500px;
  max-height: 700px;
  margin: 20px auto;
  background: linear-gradient(to bottom, #edf8f9 , #e8ffec);
  display: flex;
  flex-direction: column;
  padding: 6px;
  border-radius: 8px;
  border: 3px solid rgb(3, 18, 76);
  box-shadow: 12px 12px 12px rgba(4, 132, 158, 0.296);
  overflow-y: auto;
    font-family: "Roboto Mono", monospace;

}
.mat-card-header, .mat-card-content, mat-card-footer {
  box-sizing: border-box;
}

.mat-card-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.mat-divider {
  margin: 10px 0;
}

mat-card-footer {
  text-align: center;
  font-size: 0.875em;
  color: rgb(255, 255, 255);
  margin-top: 16px;
  background-color: #000000;
}

.button-group {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 16px;
}

button {
  display: flex;
  align-items: center;
  padding: 16px 16px ;
  border: none;
  border-radius: 8px 8px;
  color: #fff;
  width: 60px;
  font-size: 0.875em;
  justify-content: center;
}

button img {
  height: 24px;
  width: auto;

}

#edit-button {
  background-color: #007bff;
  padding: 10px;
  margin-top: 10px;
}

#delete-button {
  background-color: #dc3545;
  padding: 10px;
  margin-top: 10px;

}
#cancel-edit{
  background-color:  #dc3545;
  padding: 16px;
  margin-top: 10px;
  cursor: pointer;
}

#view-button {
  background-color: #e6f68e;
  padding: 10px;
  margin-top: 10px;
}

#edit-button:hover {
  background-color: #0056b3;
}

#delete-button:hover {
  background-color: #df0b20;
}

#view-button:hover {
  background-color: #f1fe77;
}
#save-button{
  text-align: center;
  padding: 10px;
  margin-top: 10px;
 font-weight: bold;
  background-color: #28a745;
  cursor: pointer;
}
#save-button:hover{
  background-color: #126525;
}
