<app-menu-vagas></app-menu-vagas>
<div class="error" *ngIf="isExisting == true">
<app-alerts
[message]="confirmedCandidatura"
[alertStyles]="{'background-color':'#8b0000' , 'color' : 'white'}"
></app-alerts>

</div>
<div class="sucsess" *ngIf="isSubmitted == true">
  <app-alerts
  [message]="confirmedCandidatura"
  [alertStyles]="{'background-color':'#013220' , 'color' : 'white'}"
 ></app-alerts>
</div>
<div *ngIf="isLoading">Carregando...</div>
<div *ngIf="!isLoading && vagas.length === 0">Nenhuma vaga encontrada.</div>
<div *ngIf="!isLoading && vagas.length > 0">
<div class="search" >

  <input [(ngModel)]="nome"/>
  <button (click)="vagaByEmpresa(nome)">Buscar</button>
</div>
  <mat-card *ngFor="let vaga of vagas" class="postagem-card">
    <mat-card-header>
      <mat-card-title>{{ vaga.titulo  | uppercase}}</mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <h1>
       Descrição
      </h1>

      <p>{{ vaga.descricao }}</p>
      <mat-divider></mat-divider>
      <h2>Requisitos</h2>
      <p>{{ vaga.requisitos }}</p>
      <h2>Salário</h2>
      <p>{{ vaga.salario | currency }} </p>

      <div class="button-group">
        <button title="Aplicar-se a vaga" id="apply-button" (click)="applyVaga(vaga.id)"  *ngIf="vaga.status === 'Aberta'; else vagaFechada; ">
            <img src="/job-application.png" alt="Apply Icon">
       </button>
       <ng-template #vagaFechada>
           Vaga Fechada
       </ng-template>
      </div>

    </mat-card-content>

    <mat-card-footer>
      <mat-divider></mat-divider>
      <p>{{ vaga.localizacao }}</p>

       <mat-card-subtitle>Vaga {{ vaga.status }}

      </mat-card-subtitle>
      <mat-card-footer>{{vaga.empresa.nome | uppercase}}</mat-card-footer>


    </mat-card-footer>
  </mat-card>

</div>
