<html>
<div class="body">
  <head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="login.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true">

      <div class="signup">
        <form (ngSubmit)="cadastroUsuario()">
          <label for="chk" aria-hidden="true">BRINKEDIN</label>
          <input type="text" name="nome" placeholder="Nome" required="" [(ngModel)]="nome">
          <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="email">


          <select name="perfil" required="" [(ngModel)]="perfil">
            <option value="" disabled selected>Selecione o perfil</option>
            <option value="Candidato">Candidato</option>
            <option value="Recrutador">Recrutador</option>
          </select>

          <input type="password" name="pswd" placeholder="Senha" required="" [(ngModel)]="senha">
          <button type="submit" title="Cadastrar-se">Cadastrar-se</button>
        </form>
      </div>

      <div class="login" title="Entrar com seu Login">
        <form (ngSubmit)="login()">
          <label for="chk" aria-hidden="true">Login</label>
          <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
          <input type="password" [(ngModel)]="senha" name="senha" placeholder="Senha" required>


          <select name="perfil" required="" [(ngModel)]="perfil">
            <option value="" disabled selected>Selecione o perfil</option>
            <option value="Candidato">Candidato</option>
            <option value="Recrutador">Recrutador</option>
          </select>

          <button type="submit">Entrar</button>
        </form>
      </div>
    </div>
  </body>
</div>
</html>
