body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #ffffff;
  padding-top: 5px;
}

.main {
  width: 350px;
  height: 500px;
  background: linear-gradient(to bottom, #024066, #195974, #487ab3);
  overflow: hidden;
  border-radius: 20px;

  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

#cadastrar-se {
  color: #fff9c7;
}

#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 105%;
}

label {
  color: #ffffff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: default;
  transition: 0.5s ease-in-out;
}
label:hover{
  transform: scale(1.1);

}

input, select {

  width: 50%;
  height: 14px;
  background: #ffffff;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 12px;
}
#cadastroo{
    background-color: #009356;
}
#cadastroo:hover{
     background-color: #03ac65;
}

select {
  width: 57%;
  height: 40px;
}

.notify-login {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  transition: opacity 1s ease-out;
  opacity: 1;
  padding: 10px;
  border-radius: 5px;
}


button {

  width: 46%;
  height: 30px;
  margin: 2px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #1596ff;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}
input{
  width: 40%;
  height: 10px;
  margin: 14px auto;
}

button:hover {
   transform: scale(1.1);
  background: #024066;
}
#type-empresa{
  background-color: rgb(220, 201, 115);
  text-align: center;
  width: 46%;
  height: 30px;
}
#type-empresa:hover{
  background-color: rgb(241, 220, 130);

}

.choice-btns button,
.login-form .btn-submit,
.btn-back {
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-submit{
  background-color: #009356;
}
.btn-submit:hover{
  color: rgb(0, 0, 0);
  background-color: #73ca9e;
}

.choice-btns button {
  background-color: #088919;
}

.choice-btns button:hover {
  color: white;
  background-color: #024066;
}
.btn-choice button{
  margin-top: 40px;
  height: 50px;
  background-color: #008e93;
}
#type-candidato {
  background-color: #008e93;
}
button img {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}


.back-png{
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0) ;
}

#cadastroBtn{
  background-color: #008e93;
}
#cadastroBtn:hover{
  background-color: #01c2c9;
}
.back-png:hover{
    transform: scale(1.5);
  background-color: rgba(255, 255, 255, 0) ;
}


#type-candidato:hover {
  background-color: #01aab0;
}

#type-recrutador {
  background-color: #009356;
}

#type-recrutador:hover {
  background-color: #00a761;
}

.btn-action {
   background-color: rgb(220, 201, 115);
  color: #024066;
}

.btn-action:hover {
  background-color: rgb(230, 213, 139);

}

.btn-back {
  width: auto;
  background-color: #06254e;
  color: white;
}

.btn-back:hover {
  background-color: #157bba;
}

.login-form {
  margin-top: 10px;
  width: 90%;
  height: 60%;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#entrar {
  background: #1b4984;
}

#entrar:hover {
  background: #3b5d8a;
}

.login {
  height: 100%;
  width: 100%;
  background: #091c34;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
  font-family: "Roboto Mono", monospace;
}

.login:hover {
  background: #002235;
}

.login label {
  color: #fdfeff;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}

#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .signup label {
  transform: scale(0.6);
}
