<div class="confirm">
<app-box-confirm
    [message]="message"
    [show]="showAlert"
    (confirm)="performLogout()"
    (cancel)="closeAlert()">
  </app-box-confirm>
</div>

<mat-toolbar class="toolbar">
  <div class="toolbar-left">
    <a mat-icon-button class="logo">BRINKEDIN</a>
  </div>

  <div class="toolbar-middle">
    <button mat-icon-button>
      <a routerLink="/dashboard-candidato">
        <mat-icon>home</mat-icon>
      </a>
      <span>Home</span>
    </button>

    <button mat-icon-button>
      <a routerLink="/vagas-aplicadas">
        <mat-icon>work</mat-icon>
      </a>
      <span>Vagas Aplicadas</span>
    </button>

    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </div>

  <div class="toolbar-right">
    <button mat-icon-button class="profile-container">
      <span>{{perfilType}}</span>
      <mat-icon>person</mat-icon>
      <span>{{perfilName}}</span>
    </button>
  </div>
</mat-toolbar>
