<mat-toolbar class="toolbar">
  <div class="toolbar-left">
    <a mat-icon-button class="logo">
      BRINKEDIN
    </a>
  </div>

  <div class="toolbar-middle">
    <button mat-icon-button>
      <a routerLink="/dashboard-candidato">
        <mat-icon>home</mat-icon>
      </a>
      <span>Home</span>
    </button>

    <button mat-icon-button>
      <a routerLink="/vagas-aplicadas">
        <mat-icon>work</mat-icon>
      </a>
      <span>Vagas Aplicadas</span>
    </button>


  </div>
</mat-toolbar>

