.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ccc;

}

.toolbar-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.toolbar-middle {

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.toolbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.toolbar-middle button,
.toolbar-right button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  font-size: 12px;
  border: none;
  background-color: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.profile-container {
  display: flex;
  align-items: center;
}

.toolbar-middle button:hover,
.toolbar-right button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(4, 111, 169);
}

.logo {
  font-weight: bold;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: inherit;
}
