<mat-toolbar color="primary" class="navbar">
  <span class="navbar-title">Job Listing</span>
  <span class="spacer"></span>


  <nav class="navbar-links">
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/vagas-aplicadas" routerLinkActive="active">Vagas Aplicadas</a>

  </nav>

  <!-- Hamburger menu for mobile screens -->
  <button mat-icon-button class="menu-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Dropdown menu for mobile -->
<nav class="mobile-menu" [class.open]="menuOpen">
  <a mat-button routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a>
  <a mat-button routerLink="/vagas" routerLinkActive="active" (click)="closeMenu()">Vagas</a>

</nav>
