<app-menu></app-menu>
<div *ngIf="isLoading">Carregando candidatos...</div>
<div *ngIf="!isLoading && candidatos.length === 0">Nenhum candidato encontrado para as suas vagas.</div>
<div *ngIf="!isLoading && candidatos.length > 0">
 <div class="alert" *ngIf="alertExists == true">
   <app-alerts
   [message]="alertMessage"
   [alertStyles]="{'background-color' : backGroundColor , 'color' : fontColor}"



>
   </app-alerts>
 </div>
  <mat-card *ngFor="let candidato of candidatos; let isFirst = first" class="postagem-card" >
    <mat-card-header>
      <!-- Using Pipes-->
      <mat-card-title><strong>{{candidato.titulo_vagas | uppercase}}</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Candidato: {{ candidato.nome_candidato  }}</mat-card-title>

      <mat-card-subtitle>Contato: {{ candidato.email_candidato }}</mat-card-subtitle>
      <mat-card-subtitle [ngStyle]="{
        'color': candidato.status === 'Aprovado' ? 'green' : candidato.status === 'Pendente' ? '#FFC72C' : 'red',

      }">Status: {{ candidato.status }}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer class="button-group">
      <button title="Aprovar o candidato" id="aprovar" (click)="alterarStatus(candidato.id, 'Aprovado')" >
           ✔️
      </button>

      <button title="Colocar o status da vaga como Pendente" id="Pendente" (click)="alterarStatus(candidato.id, 'Pendente')">
          ⏳
      </button>
      <button title="Reprovar o candidato" id="reprovar" (click)="alterarStatus(candidato.id, 'Reprovado')">❌</button>
    </mat-card-footer>

  </mat-card>
"
</div>
