body {
  font-family: 'Roboto', sans-serif; /* Define a fonte padrão */
  align-content: center;
}
.candidato-card{
  max-width: 600px;
  max-height: 400px;
  margin: 20px auto;
  background-color: rgb(233, 229, 229);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 12 4px 8px rgba(2, 2, 0, 0.1);
  overflow-y: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
