body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.postagem-card {
  max-width: 400px;
  max-height: 200px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 6px;
  border-radius: 8px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 12px 12px 12px rgba(6, 231, 235, 0.1);
  overflow-y: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.candidato-card {
  max-width: 600px;
  width: 100%;
  margin: 20px 0;
  background-color: #e9e5e5;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}


#aprovar{
  background-color: #00ff00;
  border: none;
   cursor: pointer;
}
#Pendente{
  background-color: #ecee77;
  align-content: center;
  border: none;
   cursor: pointer;

}
.button-group {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 8px;
  cursor: pointer;

}
#reprovar{
  background-color: #c34242;
  align-content: center;
  border: none;
   cursor: pointer;

}
