@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
   font-family: "Roboto Mono", monospace;
   align-content: center;
}
.container{
  top: 10%;
  left: 3%;
  margin: auto;
  width: 50%;

}
#title{
  font-size: 24px;
}
.create{
  background-color: #0fd415;
}

.create:hover{
  background-color: #007706;
}
.create img{
  align-items: center;
  cursor: pointer;
  height: 20px;
}
.title{
  font-size: 24px;
  text-align: center;
}
.invalid-forms{
  color: red;
  font-size: 12px;
}


.container {

  display: flex;
  max-width: 400px;
  margin: 0 auto;
  padding: 6px;
  background-color: #ffffff;
  border: 1px solid #6b6b6b;

}

mat-form-field {
  width: 100%;
  border: 1px solid gray;
  background-color: #f3f3f3;
  margin-bottom: 16px;
}


mat-form-field .mat-form-field-flex {
  border-radius: 4px;
}

mat-form-field .mat-form-field-infix {
  padding: 6px;
}


mat-label {
  color: #000000;
}


input.mat-input-element {
  font-size: 14px;
}


mat-select {
  width: 100%;
  padding: 1px;
}

mat-option {
  font-size: 12px;
}


button.mat-raised-button {
  background-color: #750000;
  color: rgb(9, 1, 1);
  margin-right: 8px;
}

button.mat-raised-button:hover {
  background-color: #303f9f;
}


button#submit-button {
  background-color: #4caf50;
}

button#cancel-button {
  background-color: #f44336;
}

button#submit-button:hover {
  background-color: #016606;
}

button#cancel-button:hover {
  background-color: #c62828;
}


.mat-form-field .mat-form-field-underline {
  background-color: #a70e03;
}

.mat-form-field .mat-form-field-label {
  color: #f44336;
}


.form-container {
  background-color: #000000;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2 2px 5px rgba(0, 0, 0, 0.1);
}

