<app-menu-vagas></app-menu-vagas>

<div *ngIf="isLoading">...</div>
<div *ngIf="!isLoading && candidatura.length === 0">Nenhuma vaga encontrada.</div>
<div *ngIf="!isLoading && candidatura.length > 0">
  <div *ngFor="let candidato of candidatura">
   <app-box-confirm *ngIf="isDelete == true"
   [message]="'Você realmente deseja desistir da candidatura ?'"
  (confirmEvent)="deletCandidatura(candidato.id)"
  ></app-box-confirm>
  </div>


  <mat-card *ngFor="let candidato of candidatura" class="postagem-card">
    <mat-card-header>
      <mat-card-title>{{ candidato.vaga.titulo }}</mat-card-title>
      <mat-card-subtitle>Status: {{ candidato.vaga.status }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <p>{{ candidato.vaga.descricao}}</p>
      <mat-divider></mat-divider>
      <h2>Requisitos</h2>
      <p>{{candidato.vaga.descricao}}</p>
      <h3>Salário</h3>
      <p>{{candidato.vaga.salario | currency }}</p>
      <h2>Status da candidatura </h2>

         <h1>{{ candidato.status | status}}</h1>
      <div class="button-group">
        <button id="delete-candidatura" (click)="deletCandidatura(candidato.id)" title="Retirar Candidatura">
             <mat-icon>close</mat-icon>
        </button>
      </div>
      <h4 [ngSwitch]="candidato.status">
         <p *ngSwitchCase="'Pendente'">... Sua vaga está em análise pelo nosso time de RH</p>
         <p *ngSwitchCase="'Aprovado'">
          Parabéns !!! 🥳🥳🥳🎉🎉🎉
          Agora a empresa entrará em contato com você para maiores informações

         </p>
         <p *ngSwitchCase="'Reprovado'">Infelizmente não foi possível sua aprovação no processo seletivo. Seu currículo é ótimo, principalmente pelos projetos dos quais você participou na sua última experiência profissional. Agradecemos sinceramente pelo seu interesse na nossa empresa e desejamos muito sucesso em sua busca por novas oportunidades. Esperamos que possamos cruzar nossos caminhos novamente no futuro. </p>
      </h4>
      <ng-template #IsReproved>

      </ng-template>
    </mat-card-content>
    <mat-card-footer>
    {{candidato.vaga.empresa.nome | uppercase}}
    </mat-card-footer>
  </mat-card>

</div>
